*::before,*::after,*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    background-color: aqua;
}
.navbar .wrapper{
display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.navbar .wrapper li{
    padding: 0.5rem;
}
.navbar .wrapper li a{
    text-decoration: none;
    font-weight: 600;
    padding: 1rem;
}
.navbar ul{
    list-style: none;
}
.slider-first{
    background-color: #212121d8;
    position: absolute;
    display: none;
    top:50px;
    border-radius: 6px;
    /* right:340px; */
}
.slider-first  li a{
    color: aliceblue;  
}
.wrapper li:hover{
    background-color: bisque;
    border-radius: 6px;
}
.slider:hover .slider-first{
    display: block;
}
.slider-second{
    position: absolute;
    background-color: #212121d8;
    display: none;
    border-radius: 6px;
    left:126px;
    top:50%;
    
}
.slider-second li{
    width: 100px;
}
.sliders:hover .slider-second{
    display: block;
}